body {
    background-color: white;
}

#newMode {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#newColor {
    font-size: 250px;
}

#colorValue {
    font-size: 150px;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    text-align: center;
    padding: 10px;

}

#opening {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 30px;
    color: black;
}

#hint {
    font-size: 30px;
    margin: 5px;
    color: black;
}

#result {
    font-size: 50px;
    margin: 5px;
    color: black;
}

#answer {
    font-size: 30px;
    margin: 5px;
    color: black;
}

#buttons {
    margin-top: 20px;
}

#btn {
    background-color: white;
}

